.content {
    width:100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: auto;

}

.card img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #efebe5;
}

.card {
    width: 50%;
    height: 50vh;
    border: 10px solid #efebe5;
    background-color: #ffffff;
    overflow: hidden;
    margin-right: 10px;
   
}



.calendario-content {
    width: 50%;
    height:50vh;
    overflow-y: auto;

  }

  

  
  
