<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Van & Banner</title>
</head>

<body>


  <div class="content">
    @for(recurso of recurso(); track $index){
    <div class="card">
      <img src="{{recurso.imagen}}" class="card-img-top" alt="salon">
    </div>
    }
    <div class="calendario-content">
      <app-calendario (fechaHoraSeleccionada)="onFechaHoraSeleccionada($event)"></app-calendario>
      <!-- <button (click)="reservar()">Reservar</button> -->
    </div>
  </div>
</body>

</html>