
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Van & Banner</title>
</head>

<body>


  <div class="content">
    @for(recurso of recurso(); track $index){
      <div class="card" style="width: 18rem;">
        <img src="{{recurso.imagen}}" class="card-img-top" alt="salon">
        <div class="card-body">
          <h5 class="card-title">{{recurso.idrecurso}}</h5>
          <p class="card-text">{{recurso.idtiporecursopkfk}}</p>
          <p class="card-text">{{recurso.descripcion}}</p>
        </div>
      </div>
    }
 </div>
  

</body>

</html>
