<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recurso</title>
</head>

<body>


  <div class="content">
    @for(recurso of recurso(); track $index){
    <div class="card">
      <div class="card-title">
        <h1>Seleciona tu fecha y hora para el {{recurso.idtiporecursopkfk}}-{{recurso.idrecurso}}</h1>
      </div>
      
      <img src="{{recurso.imagen}}" class="card-img-top" alt="salon">

      <div class="card-body">
        <p>{{recurso.descripcion}}</p>
      </div>
      
    </div>
    <div class="calendario-content">
      <app-calendario (fechaHoraSeleccionada)="onFechaHoraSeleccionada($event)"></app-calendario>
      <!-- <button (click)="reservar()">Reservar</button> -->
    </div>
    }
    
  </div>
</body>

</html>